.header{
    color: rgb(67, 59, 59);
    text-align: center;
    box-shadow: 0px 2px 2px 5px rgb(63, 50, 50);
    background-color: whitesmoke;
}

.headingText{
    padding: 10px;
    margin: 0;
}

.headingText > i{
    color: rgb(95, 143, 177);
}

@media (max-width: 767px) {
    .header {
      text-align: left; /* Adjust as needed */
    }
  
    .headingText {
      padding: 10px;
      margin: 0;
    }
  }